extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    button(onclick='PostToFacebook()') Post Facebook 
  
  div   
    button(onclick='SearchHashtag()') Search HashTag
  div   
    button(onclick='getUserlikes()') GetUserlike
  div   
    button(onclick='getBooksdetails()') Your Books
  div   
    button(onclick='getTelevisiondetails()') Television Shows
  div 
    img#image1